flows.json
[
    {
        "id": "f9294724958d27a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72de9661af2c534c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "899b493b12ef8f3c",
        "type": "group",
        "z": "72de9661af2c534c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "595b2d343f19283a",
            "13dc4db4d204017a",
            "42f0d88de020f203",
            "2f51886ad7147166"
        ],
        "x": 54,
        "y": 279
    },
    {
        "id": "6fbc52b23e464251",
        "type": "group",
        "z": "72de9661af2c534c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c8e50233bb77ad49",
            "c7675a3e3aada9f9",
            "5493965840a5e96c",
            "e60a0f3d7f911533",
            "a722ab9ab6ff5dcc",
            "d604e89466f0822b",
            "74598766ed2fc183",
            "328df9c6d288c8a9"
        ],
        "x": 54,
        "y": 19
    },
    {
        "id": "e3ed3dde474ba497",
        "type": "group",
        "z": "f9294724958d27a2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4fa443012c0eae7b",
            "efca19f75c5a03bd",
            "9dd9d3232880119d",
            "401c37e0dbf2a0b8",
            "14164539302939ca",
            "37583a02f4f0c4b1",
            "d8b8aa8d0e4dd056",
            "d15335743c6c4157",
            "0ffd115846f82ee9",
            "c3bb9134e5670da4",
            "f73d3b50fd13c0c9",
            "46618a3b86f2e701",
            "91d3b7827421a135",
            "895d95e5af196df7",
            "85fa37e6bf61cb55",
            "3510f457ad87a37e",
            "fa41d8ebd2379c2f",
            "09afe1cdf614df57",
            "c266697bb3b1103c",
            "6da246af9acb20c0",
            "15518e7aec763a0e",
            "4a839169870a3e66",
            "ac840f86b80aeee1",
            "9f50efc2f24b65e6",
            "0122aab523077d07",
            "a3cadc1cc2e135c2",
            "762962cdebd005f0",
            "287329d597fdec5a",
            "1e7a68680bfdfe6f",
            "9447936b808e2358"
        ],
        "x": 654,
        "y": 19,
        "w": 632,
        "h": 622
    },
    {
        "id": "1e7a68680bfdfe6f",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "14164539302939ca",
                "c3bb9134e5670da4",
                "4fa443012c0eae7b",
                "895d95e5af196df7"
            ]
        ]
    },
    {
        "id": "9447936b808e2358",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "x": 920,
        "y": 480,
        "wires": [
            [
                "9dd9d3232880119d",
                "efca19f75c5a03bd",
                "401c37e0dbf2a0b8"
            ]
        ]
    },
    {
        "id": "2b8607d1ea785069",
        "type": "junction",
        "z": "f9294724958d27a2",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "1e7a68680bfdfe6f",
                "c42495022a870b0e"
            ]
        ]
    },
    {
        "id": "c42495022a870b0e",
        "type": "junction",
        "z": "f9294724958d27a2",
        "x": 620,
        "y": 740,
        "wires": [
            [
                "960ba5b030bd6242",
                "bda65155f57bf715"
            ]
        ]
    },
    {
        "id": "08cd22d71c117afd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "8000",
        "clientid": "clientId-ALzuCIyxJa",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d1f6a11134169a70",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7072db3c9a800cd0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d49361794339e96d",
        "type": "ui_group",
        "name": "Email",
        "tab": "27fcbb909749d0aa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d039f1066253cac",
        "type": "mqtt-broker",
        "name": "TheThingsNetwork-Broker",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "lic-lab-2@ttn",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ead3324da83e137",
        "type": "mqtt-broker",
        "name": "aedes",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e83377dfb568960f",
        "type": "ui_group",
        "name": "temperatre",
        "tab": "d1f6a11134169a70",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c6cd4270a234c4a6",
        "type": "mqtt-broker",
        "name": "mqttTest",
        "broker": "broker.mqttdashboard.com",
        "port": "8000",
        "clientid": "clientId-MxMbu8xgsP",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef7ce7baab938488",
        "type": "ui_group",
        "name": "Time",
        "tab": "d1f6a11134169a70",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "03dd6972a320ed49",
        "type": "ui_group",
        "name": "Date",
        "tab": "d1f6a11134169a70",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "959f1950e4c4ee20",
        "type": "ui_group",
        "name": "Satelites",
        "tab": "d1f6a11134169a70",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0225b7fecd64885b",
        "type": "sqlitedb",
        "db": "gpsdb",
        "mode": "RWC"
    },
    {
        "id": "cd81d08b.eebb3",
        "type": "ui_group",
        "z": "72de9661af2c534c",
        "name": "Map",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27fcbb909749d0aa",
        "type": "ui_tab",
        "name": "Email",
        "icon": "email",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb53a816f475d0f4",
        "type": "ui_group",
        "name": "Location",
        "tab": "d1f6a11134169a70",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab6f9b75.0d4718",
        "type": "ui_group",
        "name": "DB Table",
        "tab": "4067421f.1778ec",
        "order": 1,
        "disp": true,
        "width": "35",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4067421f.1778ec",
        "type": "ui_tab",
        "name": "DB Table",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b80dc647d347463d",
        "type": "ui_group",
        "name": "DB",
        "tab": "d1f6a11134169a70",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bbfa01ef143c38b",
        "type": "ui_tab",
        "name": "Downlink",
        "icon": "network",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "380d012672404e5d",
        "type": "ui_group",
        "name": "Downlink",
        "tab": "7bbfa01ef143c38b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbcd41158e84202a",
        "type": "mqtt in",
        "z": "f9294724958d27a2",
        "name": "ttn mqtt",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d039f1066253cac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "68ab386f517885e1",
        "type": "json",
        "z": "f9294724958d27a2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "17b5ec609693ad48",
                "2b8607d1ea785069"
            ]
        ]
    },
    {
        "id": "17b5ec609693ad48",
        "type": "debug",
        "z": "f9294724958d27a2",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "0a31f329051859ac",
        "type": "inject",
        "z": "f9294724958d27a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"f_port\": 1,   \"frm_payload\": \"eyJzYXRlbGl0ZXMiOjYsImxvY2F0aW9uIjogeyJsYXQiOjM4LjcwNDUxMDAwMDAsImxuZyI6LTkuMjAyMjgyMDAwMCwiYWx0Ijo3OC4yMDAwMDAwMDAwfSwiZGF0ZSI6IHsiZGF5IjoyMSwibW9udGgiOjExLCJ5ZWFyIjoyMDIwfSwidGltZSI6IHsiaG91ciI6MjAsIm1pbnV0ZSI6MTQsInNlY29uZCI6NDAsImNlbnRpc2Vjb25kIjo1MH19\",   \"decoded_payload\": {     \"date\": {       \"day\": 21,       \"month\": 11,       \"year\": 2020     },     \"location\": {       \"alt\": 78.2,       \"lat\": 38.70451,       \"lng\": -9.202282     },     \"satelites\": 6,     \"time\": {       \"centisecond\": 50,       \"hour\": 20,       \"minute\": 14,       \"second\": 40     }   },   \"rx_metadata\": [     {       \"gateway_ids\": {         \"gateway_id\": \"test\"       },       \"rssi\": 42,       \"channel_rssi\": 42,       \"snr\": 4.2     }   ],   \"settings\": {     \"data_rate\": {       \"lora\": {         \"bandwidth\": 125000,         \"spreading_factor\": 7       }     }   } }",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "68ab386f517885e1"
            ]
        ]
    },
    {
        "id": "4fa443012c0eae7b",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "date",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.decoded_payload.date",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "a3cadc1cc2e135c2",
                "9447936b808e2358"
            ]
        ]
    },
    {
        "id": "efca19f75c5a03bd",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "day",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.day",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 440,
        "wires": [
            [
                "6da246af9acb20c0"
            ]
        ]
    },
    {
        "id": "9dd9d3232880119d",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "month",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.month",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "4a839169870a3e66"
            ]
        ]
    },
    {
        "id": "401c37e0dbf2a0b8",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "year",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.year",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "15518e7aec763a0e"
            ]
        ]
    },
    {
        "id": "14164539302939ca",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.decoded_payload.time",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 320,
        "wires": [
            [
                "37583a02f4f0c4b1",
                "d8b8aa8d0e4dd056",
                "d15335743c6c4157",
                "0ffd115846f82ee9"
            ]
        ]
    },
    {
        "id": "37583a02f4f0c4b1",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "hour",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hour",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "ac840f86b80aeee1"
            ]
        ]
    },
    {
        "id": "d8b8aa8d0e4dd056",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "minute",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.minute",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "09afe1cdf614df57"
            ]
        ]
    },
    {
        "id": "d15335743c6c4157",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "second",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.second",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "9f50efc2f24b65e6"
            ]
        ]
    },
    {
        "id": "0ffd115846f82ee9",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "centisecond",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.centisecond",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "0122aab523077d07"
            ]
        ]
    },
    {
        "id": "c3bb9134e5670da4",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "location",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.decoded_payload.location",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 160,
        "wires": [
            [
                "f73d3b50fd13c0c9",
                "46618a3b86f2e701",
                "91d3b7827421a135",
                "287329d597fdec5a"
            ]
        ]
    },
    {
        "id": "f73d3b50fd13c0c9",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "alt",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alt",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "85fa37e6bf61cb55"
            ]
        ]
    },
    {
        "id": "46618a3b86f2e701",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "lat",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lat",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "3510f457ad87a37e"
            ]
        ]
    },
    {
        "id": "91d3b7827421a135",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "lng",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lng",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "fa41d8ebd2379c2f"
            ]
        ]
    },
    {
        "id": "895d95e5af196df7",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "satelites",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.decoded_payload.satelites",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "c266697bb3b1103c"
            ]
        ]
    },
    {
        "id": "85fa37e6bf61cb55",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "bb53a816f475d0f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Altitude",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "3510f457ad87a37e",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "bb53a816f475d0f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Latitude",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa41d8ebd2379c2f",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "bb53a816f475d0f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Longitude",
        "label": "units",
        "format": "{{value}}",
        "min": "-100",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "09afe1cdf614df57",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "ef7ce7baab938488",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Minute",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "c266697bb3b1103c",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "959f1950e4c4ee20",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "47832a5f6ef1bfbe",
        "type": "inject",
        "z": "f9294724958d27a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"f_port\": 1,   \"frm_payload\": \"eyJzYXRlbGl0ZXMiOjAsImxvY2F0aW9uIjogeyJsYXQiOjM4LjcwNDUxMDAwMDAsImxuZyI6LTkuMjAyMjgyMDAwMCwiYWx0Ijo3OC4yMDAwMDAwMDAwfSwiZGF0ZSI6IHsiZGF5IjowLCJtb250aCI6MCwieWVhciI6MjAwMH0sInRpbWUiOiB7ImhvdXIiOjAsIm1pbnV0ZSI6MCwic2Vjb25kIjowLCJjZW50aXNlY29uZCI6MH19\",   \"decoded_payload\": {     \"date\": {       \"day\": 0,       \"month\": 0,       \"year\": 2000     },     \"location\": {       \"alt\": 20,       \"lat\": 38.70,       \"lng\": -9.22     },     \"satelites\": 0,     \"time\": {       \"centisecond\": 0,       \"hour\": 0,       \"minute\": 0,       \"second\": 0     }   },   \"rx_metadata\": [     {       \"gateway_ids\": {         \"gateway_id\": \"test\"       },       \"rssi\": 42,       \"channel_rssi\": 42,       \"snr\": 4.2     }   ],   \"settings\": {     \"data_rate\": {       \"lora\": {         \"bandwidth\": 125000,         \"spreading_factor\": 7       }     }   } }",
        "payloadType": "str",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "68ab386f517885e1"
            ]
        ]
    },
    {
        "id": "6da246af9acb20c0",
        "type": "ui_text",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "group": "03dd6972a320ed49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Day",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 440,
        "wires": []
    },
    {
        "id": "15518e7aec763a0e",
        "type": "ui_text",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "group": "03dd6972a320ed49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Year",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 520,
        "wires": []
    },
    {
        "id": "4a839169870a3e66",
        "type": "ui_text",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "group": "03dd6972a320ed49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Month",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1170,
        "y": 480,
        "wires": []
    },
    {
        "id": "ac840f86b80aeee1",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "ef7ce7baab938488",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "hour",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "24",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": []
    },
    {
        "id": "9f50efc2f24b65e6",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "ef7ce7baab938488",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Second",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1180,
        "y": 340,
        "wires": []
    },
    {
        "id": "0122aab523077d07",
        "type": "ui_gauge",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "group": "ef7ce7baab938488",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Centisecond",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "a3cadc1cc2e135c2",
        "type": "ui_text",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "group": "03dd6972a320ed49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date",
        "format": "{{msg.payload.day}}/{{msg.payload.month}}/{{msg.payload.year}}",
        "layout": "row-spread",
        "className": "",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "762962cdebd005f0",
        "type": "worldmap",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1160,
        "y": 60,
        "wires": []
    },
    {
        "id": "287329d597fdec5a",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "e3ed3dde474ba497",
        "name": "location",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 60,
        "wires": [
            [
                "762962cdebd005f0"
            ]
        ]
    },
    {
        "id": "b16eccc275aba8c5",
        "type": "function",
        "z": "f9294724958d27a2",
        "name": "inject random Data",
        "func": "var alt= 20 + Math.random() * 0.02\nvar lat= 38.7 + Math.random() * 0.02\nvar lng= -9.22 + Math.random() * 0.02\n\nmsg.payload = {\n    f_port: 1,\n    frm_payload: \"eyJzYXRlbGl0ZXMiOjAsImxvY2F0aW9uIjogeyJsYXQiOjM4LjcwNDUxMDAwMDAsImxuZyI6LTkuMjAyMjgyMDAwMCwiYWx0Ijo3OC4yMDAwMDAwMDAwfSwiZGF0ZSI6IHsiZGF5IjowLCJtb250aCI6MCwieWVhciI6MjAwMH0sInRpbWUiOiB7ImhvdXIiOjAsIm1pbnV0ZSI6MCwic2Vjb25kIjowLCJjZW50aXNlY29uZCI6MH19\",\n    decoded_payload: {\n        date: {\n            day: Math.floor(Math.random() * 30),\n            month:  Math.floor(Math.random() * 12),\n            year: 2000 + Math.floor(Math.random() * 22),\n        },\n        location: {\n            alt:alt,\n            lat:lat,\n            lng:lng\n        },\n        satelites: Math.floor(Math.random() * 10),\n        time: {\n            centisecond: Math.floor(Math.random() * 100),\n            hour: Math.floor(Math.random() * 24),\n            minute: Math.floor(Math.random() * 60),\n            second: Math.floor(Math.random() * 60)\n        }\n    },\n    rx_metadata: [\n        {\n            gateway_ids: {\n                gateway_id: \"test\"\n            },\n            rssi: 42,\n            channel_rssi: 42,\n            snr: 4.2\n        }\n    ],\n        settings: {\n        data_rate: {\n            lora: {\n                bandwidth: 125000,\n                spreading_factor: 7\n            }\n        }\n    }\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "494c6c88c4b5dd11",
                "2b8607d1ea785069"
            ]
        ]
    },
    {
        "id": "f8cf9adf3c5ad42c",
        "type": "ui_button",
        "z": "f9294724958d27a2",
        "name": "",
        "group": "bb53a816f475d0f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inject random Data Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "b16eccc275aba8c5"
            ]
        ]
    },
    {
        "id": "494c6c88c4b5dd11",
        "type": "debug",
        "z": "f9294724958d27a2",
        "name": "debug manual inject",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "da787243f47d3168",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 910,
        "y": 760,
        "wires": [
            [
                "8ce8f508d2846105",
                "67ed7611bc4e11c3",
                "68a101af8ed12a49",
                "698c4f722e82873d"
            ]
        ]
    },
    {
        "id": "c4fd8eff54a8a2fd",
        "type": "inject",
        "z": "f9294724958d27a2",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT into gps  ( lat , lon , alt ) VALUES (39.777 ,-9.78 , 20 )",
        "payload": "",
        "payloadType": "date",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "da787243f47d3168"
            ]
        ]
    },
    {
        "id": "960ba5b030bd6242",
        "type": "function",
        "z": "f9294724958d27a2",
        "name": "insert into db",
        "func": "console.log(msg.payload.decoded_payload)\n\nvar lat = msg.payload.decoded_payload.location.lat;\nvar lon = msg.payload.decoded_payload.location.lng;\nvar alt = msg.payload.decoded_payload.location.alt;\n\n\nmsg.topic = `INSERT into gps ( lat , lon , alt ) VALUES (${lat} ,${lon} , ${alt} )`\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 740,
        "wires": [
            [
                "da787243f47d3168"
            ]
        ]
    },
    {
        "id": "bda65155f57bf715",
        "type": "function",
        "z": "f9294724958d27a2",
        "name": "select *",
        "func": "\nmsg.topic = \"SELECT * FROM gps ORDER BY id DESC ;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 780,
        "wires": [
            [
                "da787243f47d3168"
            ]
        ]
    },
    {
        "id": "8ce8f508d2846105",
        "type": "ui_text",
        "z": "f9294724958d27a2",
        "group": "b80dc647d347463d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "db",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1110,
        "y": 740,
        "wires": []
    },
    {
        "id": "67ed7611bc4e11c3",
        "type": "ui_template",
        "z": "f9294724958d27a2",
        "group": "ab6f9b75.0d4718",
        "name": "sample",
        "order": 3,
        "width": "32",
        "height": "10",
        "format": "<style>\ntable.table-hover tr:hover {\n background:lightblue;\n } \n md-switch {\nposition: center; \nheight: 5px;\n}\nmd-switch .md-thumb {\n background-color: red;\n}\nmd-switch.md-checked .md-thumb {\n background-color: #33CC00;\n}\n\nmd-switch.md-checked .md-bar {\n background-color: lightgreen;\n}\n</style>\n<div class=\"scrollmenu\">\n<table cellpadding=\"1\" border=\"1\" id=\"table-4\" class=\"table-hover\" style=\"width: 100%; border-collapse: collapse; border: 1px solid black\">\n <thead>\n <tr>\n <th title=\"\" bgcolor=gray>Id</th>\n <th title=\"\" bgcolor=gray>Longitude</th>\n <th title=\"\" bgcolor=gray>Latitude</th>\n <th title=\"\" bgcolor=gray>Altitude</th>\n  \n </tr>\n </thead>\n <tbody>\n \n <tr ng-repeat=\"row in msg.payload | limitTo:500\">\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.id}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.lon}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.lat}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.alt}}</center></td>\n\n </tr>\n \n </tbody>\n</table>\n<script type=\"text/javascript\">\n window.onload = function() {\n document.getElementById(\"editable\").focus();\n };\n\n<script>\n(function($scope) {\n$scope.sendRow = function(obj) {\nvar tableCells = document.getElementById(\"table-4\").rows.item(obj).cells;\nvar cellsData = [];\nfor (var j = 0; j < tableCells.length; j++) {\n cellsData[j] = tableCells.item(j).innerText;\n cellsData[j] = cellsData[j].replace(\",\",\".\"); \n}\n$scope.send({ \"payload\": cellsData });\n};\n})(scope);\n</script>\n\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1120,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "208d94f672d49c86",
        "type": "ui_button",
        "z": "f9294724958d27a2",
        "name": "",
        "group": "ab6f9b75.0d4718",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inject random Data DB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "b16eccc275aba8c5"
            ]
        ]
    },
    {
        "id": "68a101af8ed12a49",
        "type": "debug",
        "z": "f9294724958d27a2",
        "name": "Debug db select",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "c4cacbe936455ee0",
        "type": "worldmap-tracks",
        "z": "f9294724958d27a2",
        "name": "",
        "depth": "10",
        "layer": "combined",
        "smooth": true,
        "x": 1150,
        "y": 880,
        "wires": [
            [
                "f7c35d336edd9920"
            ]
        ]
    },
    {
        "id": "f7c35d336edd9920",
        "type": "ui_worldmap",
        "z": "f9294724958d27a2",
        "group": "ab6f9b75.0d4718",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1200,
        "y": 920,
        "wires": []
    },
    {
        "id": "698c4f722e82873d",
        "type": "function",
        "z": "f9294724958d27a2",
        "name": "function 5",
        "func": "\nvar arr = msg.payload\n//var i = arr.length - 1\nvar i = 0\nvar newItem = {\n        lat: arr[i][\"lat\"],\n        lon: arr[i][\"lon\"],\n        name: \"test\",\n        icon: \"male\",\n        color: \"#000\",\n    }\nmsg.payload = newItem;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 840,
        "wires": [
            [
                "c4cacbe936455ee0",
                "49e093c9a89b35de"
            ]
        ]
    },
    {
        "id": "49e093c9a89b35de",
        "type": "debug",
        "z": "f9294724958d27a2",
        "name": "Debug db last 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 820,
        "wires": []
    },
    {
        "id": "84c8e5ab14a9333f",
        "type": "inject",
        "z": "f9294724958d27a2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "b16eccc275aba8c5"
            ]
        ]
    },
    {
        "id": "fb3a1d7f6084f5bb",
        "type": "switch",
        "z": "f9294724958d27a2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c8e50233bb77ad49",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "Drop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE gps",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "5493965840a5e96c"
            ]
        ]
    },
    {
        "id": "c7675a3e3aada9f9",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT into gps  ( lat , lon , alt ) VALUES (38.7 ,-9 ,20 )",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "5493965840a5e96c"
            ]
        ]
    },
    {
        "id": "5493965840a5e96c",
        "type": "sqlite",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "74598766ed2fc183"
            ]
        ]
    },
    {
        "id": "e60a0f3d7f911533",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "select",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " SELECT * FROM gps;",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "5493965840a5e96c"
            ]
        ]
    },
    {
        "id": "a722ab9ab6ff5dcc",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "create",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": " CREATE TABLE gps (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,lat FLOAT , lon FLOAT , alt FLOAT);",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "5493965840a5e96c"
            ]
        ]
    },
    {
        "id": "d604e89466f0822b",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT into gps  ( lat , lon , alt ) VALUES (39.777 ,-9.78 , 20 )",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "5493965840a5e96c"
            ]
        ]
    },
    {
        "id": "74598766ed2fc183",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "function 2",
        "func": "\nvar arr = msg.payload\n\nfor (var i = 0; i < arr.length ; i++) {\n    arr[i] = {\n    lat : arr[i][\"lat\"],\n    lon: arr[i][\"lon\"],\n    name: \"test\",\n    icon: \"male\",\n    color: \"#000\",\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "328df9c6d288c8a9"
            ]
        ]
    },
    {
        "id": "328df9c6d288c8a9",
        "type": "debug",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "595b2d343f19283a",
        "type": "e-mail",
        "z": "72de9661af2c534c",
        "g": "899b493b12ef8f3c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "13dc4db4d204017a",
        "type": "ui_button",
        "z": "72de9661af2c534c",
        "g": "899b493b12ef8f3c",
        "name": "",
        "group": "d49361794339e96d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "sendEmail",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "2f51886ad7147166"
            ]
        ]
    },
    {
        "id": "42f0d88de020f203",
        "type": "debug",
        "z": "72de9661af2c534c",
        "g": "899b493b12ef8f3c",
        "name": "debug email",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f51886ad7147166",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "899b493b12ef8f3c",
        "name": "function 4",
        "func": "\nmsg[\"to\"] = \"joao.ranger@gmail.com\";\nmsg[\"payload\"] = \"Boa tarde enviamos este email para testar este teste de teste\";\nmsg[\"topic\"] = \"Testing node-red Email\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "595b2d343f19283a",
                "42f0d88de020f203"
            ]
        ]
    },
    {
        "id": "afa10f32099e0e54",
        "type": "function",
        "z": "72de9661af2c534c",
        "name": "function 6",
        "func": "\nreturn {\n    \"payload\": {\n        \"downlinks\": [{\n            \"f_port\": 15,\n            \"frm_payload\": msg.payload.toString(\"base64\"),\n            \"priority\": \"NORMAL\"\n        }]\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "ac2c61949fe2b733",
                "ee9067c386c4bfb4"
            ]
        ]
    },
    {
        "id": "ac2c61949fe2b733",
        "type": "mqtt out",
        "z": "72de9661af2c534c",
        "name": "",
        "topic": "v3/lic-lab-2/devices/eui-a8610a34323b8708/down/push",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d039f1066253cac",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "4435d4aa8570e53f",
        "type": "inject",
        "z": "72de9661af2c534c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[0,42,255,0]",
        "payloadType": "bin",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "afa10f32099e0e54"
            ]
        ]
    },
    {
        "id": "1ec74bc22b025340",
        "type": "ui_button",
        "z": "72de9661af2c534c",
        "name": "",
        "group": "380d012672404e5d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send downlink",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "afa10f32099e0e54"
            ]
        ]
    },
    {
        "id": "ee9067c386c4bfb4",
        "type": "debug",
        "z": "72de9661af2c534c",
        "name": "downlink_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "ce25c49d34182e0d",
        "type": "mqtt in",
        "z": "72de9661af2c534c",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1d039f1066253cac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "5a67480fcc218f54",
                "2d28304a2c53814c"
            ]
        ]
    },
    {
        "id": "5a67480fcc218f54",
        "type": "debug",
        "z": "72de9661af2c534c",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 660,
        "wires": []
    },
    {
        "id": "2d28304a2c53814c",
        "type": "debug",
        "z": "72de9661af2c534c",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 740,
        "wires": []
    }
]