flows.json
[
    {
        "id": "f9294724958d27a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72de9661af2c534c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6fbc52b23e464251",
        "type": "group",
        "z": "72de9661af2c534c",
        "name": "GPS Table",
        "style": {
            "label": true
        },
        "nodes": [
            "c8e50233bb77ad49",
            "c7675a3e3aada9f9",
            "5493965840a5e96c",
            "e60a0f3d7f911533",
            "a722ab9ab6ff5dcc",
            "d604e89466f0822b",
            "1259b65b09ececfb",
            "e61e786e2a23d023",
            "47a0f3986ec896d2",
            "ead469c2d5725752",
            "adcc5d28fdfdf376",
            "5ca79092938ab726",
            "916ed962a466463b"
        ],
        "x": 34,
        "y": 59,
        "w": 752,
        "h": 242
    },
    {
        "id": "26f32862af1d3322",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "Gps",
        "style": {
            "label": true
        },
        "nodes": [
            "c4fd8eff54a8a2fd",
            "960ba5b030bd6242",
            "c42495022a870b0e",
            "7eab934dedf6fe25",
            "ae09fbeb3d0ee807",
            "98d0965f01107b65",
            "acdd71a48371ad93",
            "bf3a2f95bd6b00ff",
            "99ac6d9cfa08d594"
        ],
        "x": 1094,
        "y": 539,
        "w": 552,
        "h": 222
    },
    {
        "id": "c2c2b84629bba374",
        "type": "group",
        "z": "72de9661af2c534c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "afa10f32099e0e54",
            "ac2c61949fe2b733",
            "1ec74bc22b025340",
            "ee9067c386c4bfb4",
            "514523b807f94a6a",
            "544f3bbb0ae4ce0b",
            "bb5349a0303645fc",
            "67439d10f9905592"
        ],
        "x": 124,
        "y": 919,
        "w": 1132,
        "h": 242
    },
    {
        "id": "87d4ed4463a9d712",
        "type": "group",
        "z": "72de9661af2c534c",
        "name": "State Table",
        "style": {
            "label": true
        },
        "nodes": [
            "0c62d000232819d0",
            "b427f8a40bbd460b",
            "04077bc68722ca7a",
            "b83743dbd6216bf4",
            "3e3d197a01dd9d06",
            "44488a13e639ac00",
            "6e98a4b86b0d5135",
            "772ec508b97fc538",
            "d1dc758b1bd29772",
            "a888a6c5fb823d3c",
            "9c65f0dc25547908"
        ],
        "x": 34,
        "y": 319,
        "w": 692,
        "h": 202
    },
    {
        "id": "55b011c81ead33d6",
        "type": "group",
        "z": "72de9661af2c534c",
        "name": "Alarm Table",
        "style": {
            "label": true
        },
        "nodes": [
            "618e66a9ce354c1d",
            "65ded5876c9275f9",
            "2b220aca94d606de",
            "ae0ee0dec6a29137",
            "406df2a63ce53671",
            "fab550111672ccd3",
            "51e1dd0908716ec7",
            "81421991f4522206",
            "59b43ecc598e40d6",
            "2418737fe2d927fc",
            "020a733cb8b033a9"
        ],
        "x": 34,
        "y": 559,
        "w": 692,
        "h": 202
    },
    {
        "id": "f7358d121f692cc7",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "State",
        "style": {
            "label": true
        },
        "nodes": [
            "dba4119a5ae27c75",
            "77ab3d82e168e1eb",
            "c9ea25ad60821e9a",
            "52e7089ac6ca79c6",
            "31700a18efcf04d1",
            "af8cc191fb814f2f"
        ],
        "x": 1134,
        "y": 179,
        "w": 452,
        "h": 142
    },
    {
        "id": "899b493b12ef8f3c",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "email",
        "style": {
            "label": true
        },
        "nodes": [
            "595b2d343f19283a",
            "13dc4db4d204017a",
            "42f0d88de020f203",
            "2f51886ad7147166"
        ],
        "x": 1814,
        "y": 199,
        "w": 512,
        "h": 122
    },
    {
        "id": "58581c304b70dfce",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "Select *",
        "style": {
            "label": true
        },
        "nodes": [
            "fe8956a67ea9dc47",
            "8d037d74939aef3c",
            "036c1b33d3632c2f",
            "56773c0e2ecfb97e",
            "ee277d72268bb593",
            "6e3b3f338ceb61b4",
            "1ff03ed7d661858d",
            "b5e49121ed87b535",
            "de5323737b6ee789",
            "be876825f047c744",
            "b33e9704f6284aeb",
            "3fb127f097597d6c",
            "d85e1ed27d2019a8",
            "a586eba9b526be33",
            "ef865f349faec94b"
        ],
        "x": 124,
        "y": 833,
        "w": 1568,
        "h": 468
    },
    {
        "id": "7e487b1158a0fb86",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "test/debug",
        "style": {
            "label": true
        },
        "nodes": [
            "b16eccc275aba8c5",
            "494c6c88c4b5dd11",
            "208d94f672d49c86",
            "84c8e5ab14a9333f"
        ],
        "x": 174,
        "y": 659,
        "w": 472,
        "h": 162
    },
    {
        "id": "5c597ace43f77322",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "TTN",
        "style": {
            "label": true
        },
        "nodes": [
            "e61dffa26b7cf2bd",
            "788fe4f8dbb045e4",
            "61fabea1840d0ae3"
        ],
        "x": 174,
        "y": 499,
        "w": 392,
        "h": 122
    },
    {
        "id": "d85e1ed27d2019a8",
        "type": "group",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "gps",
        "style": {
            "label": true
        },
        "nodes": [
            "67ed7611bc4e11c3",
            "c4cacbe936455ee0",
            "f7c35d336edd9920",
            "698c4f722e82873d",
            "49e093c9a89b35de",
            "d094735655d26fd2",
            "6349d2ba77ebb699",
            "0d9aca903b63d575",
            "9475ae36b3cfd1ec",
            "541d96d648038fce",
            "717aea70e7deb820"
        ],
        "x": 494,
        "y": 859,
        "w": 1172,
        "h": 202
    },
    {
        "id": "673ed9df070f6f8b",
        "type": "group",
        "z": "f9294724958d27a2",
        "name": "State",
        "style": {
            "label": true
        },
        "nodes": [
            "efec1e7ec1208445",
            "951ff97c5974b8c3",
            "b207b068deae7900",
            "c7521e9bcf0a784f",
            "5e30b7931bf25794",
            "eec87c6239cdfce5",
            "f62fe2d764467aaf"
        ],
        "x": 1154,
        "y": 359,
        "w": 512,
        "h": 142
    },
    {
        "id": "c42495022a870b0e",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "x": 1120,
        "y": 700,
        "wires": [
            [
                "960ba5b030bd6242",
                "ae09fbeb3d0ee807"
            ]
        ]
    },
    {
        "id": "5d8b978c99b84737",
        "type": "junction",
        "z": "f9294724958d27a2",
        "x": 640,
        "y": 580,
        "wires": [
            [
                "4ab0a4f4c4e55b75"
            ]
        ]
    },
    {
        "id": "1259b65b09ececfb",
        "type": "junction",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "5493965840a5e96c"
            ]
        ]
    },
    {
        "id": "3fb127f097597d6c",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "x": 440,
        "y": 1060,
        "wires": [
            [
                "6349d2ba77ebb699",
                "56773c0e2ecfb97e",
                "1ff03ed7d661858d",
                "541d96d648038fce"
            ]
        ]
    },
    {
        "id": "a586eba9b526be33",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "x": 200,
        "y": 1060,
        "wires": [
            [
                "3fb127f097597d6c"
            ]
        ]
    },
    {
        "id": "9c65f0dc25547908",
        "type": "junction",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "x": 460,
        "y": 400,
        "wires": [
            [
                "b427f8a40bbd460b"
            ]
        ]
    },
    {
        "id": "020a733cb8b033a9",
        "type": "junction",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "65ded5876c9275f9"
            ]
        ]
    },
    {
        "id": "31700a18efcf04d1",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "f7358d121f692cc7",
        "x": 1460,
        "y": 240,
        "wires": [
            [
                "af8cc191fb814f2f",
                "13dc4db4d204017a"
            ]
        ]
    },
    {
        "id": "52e7089ac6ca79c6",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "f7358d121f692cc7",
        "x": 1160,
        "y": 260,
        "wires": [
            [
                "dba4119a5ae27c75",
                "c9ea25ad60821e9a"
            ]
        ]
    },
    {
        "id": "bf3a2f95bd6b00ff",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "x": 1440,
        "y": 620,
        "wires": [
            [
                "98d0965f01107b65",
                "acdd71a48371ad93",
                "99ac6d9cfa08d594"
            ]
        ]
    },
    {
        "id": "5e30b7931bf25794",
        "type": "junction",
        "z": "f9294724958d27a2",
        "g": "673ed9df070f6f8b",
        "x": 1180,
        "y": 460,
        "wires": [
            [
                "efec1e7ec1208445",
                "c7521e9bcf0a784f"
            ]
        ]
    },
    {
        "id": "08cd22d71c117afd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "8000",
        "clientid": "clientId-ALzuCIyxJa",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d1f6a11134169a70",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7072db3c9a800cd0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#2c8287",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#2c8287",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2c8287",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#3fb9c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2c8287",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1d039f1066253cac",
        "type": "mqtt-broker",
        "name": "TheThingsNetwork-Broker",
        "broker": "eu1.cloud.thethings.network",
        "port": "8883",
        "tls": "ed9cfd9c1881e159",
        "clientid": "lic-lab-2@ttn",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2ead3324da83e137",
        "type": "mqtt-broker",
        "name": "aedes",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c6cd4270a234c4a6",
        "type": "mqtt-broker",
        "name": "mqttTest",
        "broker": "broker.mqttdashboard.com",
        "port": "8000",
        "clientid": "clientId-MxMbu8xgsP",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0225b7fecd64885b",
        "type": "sqlitedb",
        "db": "gpsdb",
        "mode": "RWC"
    },
    {
        "id": "bb53a816f475d0f4",
        "type": "ui_group",
        "name": "State",
        "tab": "d1f6a11134169a70",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed9cfd9c1881e159",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "ab6f9b75.0d4718",
        "type": "ui_group",
        "name": "DB Table",
        "tab": "d1f6a11134169a70",
        "order": 4,
        "disp": true,
        "width": "35",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21940618bc9ff47f",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "d1f6a11134169a70",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3329194858c50817",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "b404000ef61dd7d2",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "10af0468c4e774d3",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "e3d45012591969c8",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "512316e840e5fee2",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "4b13a9feaf715b03",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "a418b788421d53eb",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "f601dd941d35bd4c",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "6b0f45a5ae3844c2",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "8414ac296bb367ec",
        "type": "ui_spacer",
        "z": "f9294724958d27a2",
        "name": "spacer",
        "group": "ab6f9b75.0d4718",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "8eb2cdda01e36eaf",
        "type": "ui_group",
        "name": "StateDB",
        "tab": "d1f6a11134169a70",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9ca3aa8684286fd",
        "type": "ui_group",
        "name": "AlarmTable",
        "tab": "d1f6a11134169a70",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93527ec6a0a2d80d",
        "type": "ui_group",
        "name": "Downlink",
        "tab": "d1f6a11134169a70",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b16eccc275aba8c5",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "7e487b1158a0fb86",
        "name": "inject random Data",
        "func": "var alt= 20 + Math.random() * 0.02\nvar lat= 38.7 + Math.random() * 0.02\nvar lng= -9.22 + Math.random() * 0.02\n\nmsg.payload = {\n    \"f_port\": 1,\n    \"frm_payload\": \"eyJzYXRlbGl0ZXMiOjAsImxvY2F0aW9uIjogeyJsYXQiOjM4LjcwNDUxMDAwMDAsImxuZyI6LTkuMjAyMjgyMDAwMCwiYWx0Ijo3OC4yMDAwMDAwMDAwfSwiZGF0ZSI6IHsiZGF5IjowLCJtb250aCI6MCwieWVhciI6MjAwMH0sInRpbWUiOiB7ImhvdXIiOjAsIm1pbnV0ZSI6MCwic2Vjb25kIjowLCJjZW50aXNlY29uZCI6MH19\",\n    \"decoded_payload\": {\n        \"s\": Math.floor(Math.random() * 10),\n        \"d\": new Date().getTime(),\n        \"t\": new Date().getTime(),\n        \"l\": {\n            alt:alt,\n            lat:lat,\n            lng:lng\n        },\n    },\n    \"rx_metadata\": [\n        {\n            gateway_ids: {\n                gateway_id: \"test\"\n            },\n            rssi: 42,\n            channel_rssi: 42,\n            snr: 4.2\n        }\n    ],\n    \"settings\": {\n        \"data_rate\": {\n            \"lora\": {\n                \"bandwidth\": 125000,\n                \"spreading_factor\": 7\n            }\n        }\n    }\n}\n\n\nreturn {\n    \"payload\": {\n        \"s\": Math.floor(Math.random() * 10),\n        \"d\": new Date().getTime(),\n        \"t\": new Date().getTime(),\n        \"l\": {\n            alt: alt,\n            lat: lat,\n            lng: lng\n        },\n    }\n    };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 740,
        "wires": [
            [
                "494c6c88c4b5dd11",
                "5d8b978c99b84737"
            ]
        ]
    },
    {
        "id": "494c6c88c4b5dd11",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "7e487b1158a0fb86",
        "name": "debug manual inject",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 780,
        "wires": []
    },
    {
        "id": "c4fd8eff54a8a2fd",
        "type": "inject",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1190,
        "y": 580,
        "wires": [
            [
                "7eab934dedf6fe25"
            ]
        ]
    },
    {
        "id": "960ba5b030bd6242",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "name": "insert into db",
        "func": "\nvar date = new Date().getTime();\nvar satelites = msg.payload.satelites;\n\nvar lat = msg.payload.location.lat;\nvar lon = msg.payload.location.lng;\nvar alt = msg.payload.location.alt;\n\n//\"topic\": \"INSERT into gps  (date , time , lat , lon , alt ) VALUES (1231223144, 1231414234, 38.7 ,-9 ,20 )\"\n\nmsg.topic = `INSERT into gps (date , satelites , lat , lon , alt ) VALUES (${date}, ${satelites} , ${lat} , ${lon} , ${alt} )`\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 620,
        "wires": [
            [
                "bf3a2f95bd6b00ff"
            ]
        ]
    },
    {
        "id": "67ed7611bc4e11c3",
        "type": "ui_template",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "group": "ab6f9b75.0d4718",
        "name": "gpsTable",
        "order": 1,
        "width": 32,
        "height": 10,
        "format": "<style>\ntable.table-hover tr:hover {\n background:lightblue;\n } \n md-switch {\nposition: center; \nheight: 5px;\n}\nmd-switch .md-thumb {\n background-color: red;\n}\nmd-switch.md-checked .md-thumb {\n background-color: #33CC00;\n}\n\nmd-switch.md-checked .md-bar {\n background-color: lightgreen;\n}\n</style>\n<div class=\"scrollmenu\">\n<table cellpadding=\"1\" border=\"1\" id=\"table-4\" class=\"table-hover\" style=\"width: 100%; border-collapse: collapse; border: 1px solid black\">\n <thead>\n <tr>\n <th title=\"\" bgcolor=gray>Id</th>\n <th title=\"\" bgcolor=gray>Date</th>\n <th title=\"\" bgcolor=gray>Satelites</th>\n <th title=\"\" bgcolor=gray>Longitude</th>\n <th title=\"\" bgcolor=gray>Latitude</th>\n <th title=\"\" bgcolor=gray>Altitude</th>\n  \n </tr>\n </thead>\n <tbody>\n \n <tr ng-repeat=\"row in msg.payload | limitTo:500\">\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.id}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.date}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.satelites}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.lon}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.lat}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.alt}}</center></td>\n\n </tr>\n \n </tbody>\n</table>\n<script type=\"text/javascript\">\n window.onload = function() {\n document.getElementById(\"editable\").focus();\n };\n\n<script>\n(function($scope) {\n$scope.sendRow = function(obj) {\nvar tableCells = document.getElementById(\"table-4\").rows.item(obj).cells;\nvar cellsData = [];\nfor (var j = 0; j < tableCells.length; j++) {\n cellsData[j] = tableCells.item(j).innerText;\n cellsData[j] = cellsData[j].replace(\",\",\".\"); \n}\n$scope.send({ \"payload\": cellsData });\n};\n})(scope);\n</script>\n\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1360,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "208d94f672d49c86",
        "type": "ui_button",
        "z": "f9294724958d27a2",
        "g": "7e487b1158a0fb86",
        "name": "",
        "group": "21940618bc9ff47f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inject random GPS Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "b16eccc275aba8c5"
            ]
        ]
    },
    {
        "id": "c4cacbe936455ee0",
        "type": "worldmap-tracks",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "",
        "depth": "10",
        "layer": "combined",
        "smooth": false,
        "x": 1310,
        "y": 1020,
        "wires": [
            [
                "f7c35d336edd9920"
            ]
        ]
    },
    {
        "id": "f7c35d336edd9920",
        "type": "ui_worldmap",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "group": "ab6f9b75.0d4718",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1460,
        "y": 1020,
        "wires": []
    },
    {
        "id": "698c4f722e82873d",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "function 5",
        "func": "\nvar arr = msg.payload\n//var i = arr.length - 1\nvar i = 0\nvar newItem = {\n        lat: arr[i][\"lat\"],\n        lon: arr[i][\"lon\"],\n        name: \"car\",\n        icon: \"fa-duotone fa-car-side\",\n        iconcolor: \"#000\",\n        color: \"#000\",\n        layer:\"markers\"\n    }\nmsg.payload = newItem;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 940,
        "wires": [
            [
                "49e093c9a89b35de"
            ]
        ]
    },
    {
        "id": "49e093c9a89b35de",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "Debug tracks",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 940,
        "wires": []
    },
    {
        "id": "84c8e5ab14a9333f",
        "type": "inject",
        "z": "f9294724958d27a2",
        "g": "7e487b1158a0fb86",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 740,
        "wires": [
            [
                "b16eccc275aba8c5"
            ]
        ]
    },
    {
        "id": "e61dffa26b7cf2bd",
        "type": "mqtt in",
        "z": "f9294724958d27a2",
        "g": "5c597ace43f77322",
        "name": "ttn mqtt",
        "topic": "#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "1d039f1066253cac",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 540,
        "wires": [
            [
                "788fe4f8dbb045e4",
                "61fabea1840d0ae3"
            ]
        ]
    },
    {
        "id": "788fe4f8dbb045e4",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "5c597ace43f77322",
        "name": "lora received msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "4ab0a4f4c4e55b75",
        "type": "switch",
        "z": "f9294724958d27a2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "alarm",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "changedState",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "s",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 730,
        "y": 580,
        "wires": [
            [
                "52e7089ac6ca79c6"
            ],
            [
                "5e30b7931bf25794"
            ],
            [
                "5d5bf64afda0dd2c"
            ],
            [
                "0e910fdf533b4c40"
            ]
        ]
    },
    {
        "id": "61fabea1840d0ae3",
        "type": "change",
        "z": "f9294724958d27a2",
        "g": "5c597ace43f77322",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.uplink_message.decoded_payload.payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "5d8b978c99b84737"
            ]
        ]
    },
    {
        "id": "7eab934dedf6fe25",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "name": "insert into db",
        "func": "\nvar date = new Date().getTime();\nvar satelites = 3;\n\nvar lat = 39.777;\nvar lon = -9.78 ;\nvar alt = 20;\n\n//\"topic\": \"INSERT into gps  (date , time , satelites, lat , lon , alt ) VALUES (1231223144, 1231414234, 3, 38.7 ,-9 ,20 )\"\n//\"topic\": \"INSERT into gps  (date , time, satelites, lat , lon , alt ) VALUES (1231223144, 1231414234, 3, 38.7 ,-9 ,20 )\"\nmsg.topic = `INSERT into gps (date , satelites, lat , lon , alt ) VALUES (${date} , ${satelites} , ${lat} , ${lon} , ${alt} )`\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 580,
        "wires": [
            [
                "bf3a2f95bd6b00ff"
            ]
        ]
    },
    {
        "id": "ae09fbeb3d0ee807",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 720,
        "wires": []
    },
    {
        "id": "98d0965f01107b65",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1570,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5d5bf64afda0dd2c",
        "type": "function",
        "z": "f9294724958d27a2",
        "name": "function 13",
        "func": "var payload = msg.payload;\nreturn {\n    \"payload\":{\n        \"satelites\": payload.s,\n        \"location\": payload.l,\n    }\n    };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "c42495022a870b0e"
            ]
        ]
    },
    {
        "id": "fe8956a67ea9dc47",
        "type": "ui_button",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "",
        "group": "21940618bc9ff47f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get all from DB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 1080,
        "wires": [
            [
                "3fb127f097597d6c"
            ]
        ]
    },
    {
        "id": "d094735655d26fd2",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 970,
        "y": 920,
        "wires": [
            [
                "0d9aca903b63d575"
            ]
        ]
    },
    {
        "id": "6349d2ba77ebb699",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "select * gps ORDER BY id DESC",
        "func": "\nmsg.topic = \"SELECT * FROM gps ORDER BY id DESC;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 900,
        "wires": [
            [
                "d094735655d26fd2"
            ]
        ]
    },
    {
        "id": "8d037d74939aef3c",
        "type": "ui_template",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "group": "8eb2cdda01e36eaf",
        "name": "stateTable",
        "order": 1,
        "width": "6",
        "height": "10",
        "format": "<style>\ntable.table-hover tr:hover {\n background:lightblue;\n } \n md-switch {\nposition: center; \nheight: 5px;\n}\nmd-switch .md-thumb {\n background-color: red;\n}\nmd-switch.md-checked .md-thumb {\n background-color: #33CC00;\n}\n\nmd-switch.md-checked .md-bar {\n background-color: lightgreen;\n}\n</style>\n<div class=\"scrollmenu\">\n<table cellpadding=\"1\" border=\"1\" id=\"table-4\" class=\"table-hover\" style=\"width: 100%; border-collapse: collapse; border: 1px solid black\">\n <thead>\n <tr>\n <th title=\"\" bgcolor=gray>Id</th>\n <th title=\"\" bgcolor=gray>Date</th>\n <th title=\"\" bgcolor=gray>State</th>\n  \n </tr>\n </thead>\n <tbody>\n \n <tr ng-repeat=\"row in msg.payload | limitTo:500\">\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.id}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.date}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.state}}</center></td>\n\n </tr>\n \n </tbody>\n</table>\n<script type=\"text/javascript\">\n window.onload = function() {\n document.getElementById(\"editable\").focus();\n };\n\n<script>\n(function($scope) {\n$scope.sendRow = function(obj) {\nvar tableCells = document.getElementById(\"table-4\").rows.item(obj).cells;\nvar cellsData = [];\nfor (var j = 0; j < tableCells.length; j++) {\n cellsData[j] = tableCells.item(j).innerText;\n cellsData[j] = cellsData[j].replace(\",\",\".\"); \n}\n$scope.send({ \"payload\": cellsData });\n};\n})(scope);\n</script>\n\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1290,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "036c1b33d3632c2f",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 930,
        "y": 1200,
        "wires": [
            [
                "de5323737b6ee789"
            ]
        ]
    },
    {
        "id": "56773c0e2ecfb97e",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "select * from state",
        "func": "\nmsg.topic = \"SELECT * FROM state ORDER BY id DESC;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1200,
        "wires": [
            [
                "036c1b33d3632c2f"
            ]
        ]
    },
    {
        "id": "ee277d72268bb593",
        "type": "inject",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"f_port\": 1,   \"frm_payload\": \"eyJzYXRlbGl0ZXMiOjYsImxvY2F0aW9uIjogeyJsYXQiOjM4LjcwNDUxMDAwMDAsImxuZyI6LTkuMjAyMjgyMDAwMCwiYWx0Ijo3OC4yMDAwMDAwMDAwfSwiZGF0ZSI6IHsiZGF5IjoyMSwibW9udGgiOjExLCJ5ZWFyIjoyMDIwfSwidGltZSI6IHsiaG91ciI6MjAsIm1pbnV0ZSI6MTQsInNlY29uZCI6NDAsImNlbnRpc2Vjb25kIjo1MH19\",   \"decoded_payload\": {     \"date\": {       \"day\": 21,       \"month\": 11,       \"year\": 2020     },     \"location\": {       \"alt\": 78.2,       \"lat\": 38.70451,       \"lng\": -9.202282     },     \"satelites\": 6,     \"time\": {       \"centisecond\": 50,       \"hour\": 20,       \"minute\": 14,       \"second\": 40     }   },   \"rx_metadata\": [     {       \"gateway_ids\": {         \"gateway_id\": \"test\"       },       \"rssi\": 42,       \"channel_rssi\": 42,       \"snr\": 4.2     }   ],   \"settings\": {     \"data_rate\": {       \"lora\": {         \"bandwidth\": 125000,         \"spreading_factor\": 7       }     }   } }",
        "payloadType": "str",
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "3fb127f097597d6c"
            ]
        ]
    },
    {
        "id": "0e910fdf533b4c40",
        "type": "debug",
        "z": "f9294724958d27a2",
        "name": "otherMessage",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "6e3b3f338ceb61b4",
        "type": "ui_template",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "group": "f9ca3aa8684286fd",
        "name": "alarmTable",
        "order": 1,
        "width": "6",
        "height": "10",
        "format": "<style>\ntable.table-hover tr:hover {\n background:lightblue;\n } \n md-switch {\nposition: center; \nheight: 5px;\n}\nmd-switch .md-thumb {\n background-color: red;\n}\nmd-switch.md-checked .md-thumb {\n background-color: #33CC00;\n}\n\nmd-switch.md-checked .md-bar {\n background-color: lightgreen;\n}\n</style>\n<div class=\"scrollmenu\">\n<table cellpadding=\"1\" border=\"1\" id=\"table-4\" class=\"table-hover\" style=\"width: 100%; border-collapse: collapse; border: 1px solid black\">\n <thead>\n <tr>\n <th title=\"\" bgcolor=gray>Id</th>\n <th title=\"\" bgcolor=gray>Date</th>\n <th title=\"\" bgcolor=gray>Alarm</th>\n  \n </tr>\n </thead>\n <tbody>\n \n <tr ng-repeat=\"row in msg.payload | limitTo:500\">\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.id}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.date}}</center></td>\n <td contenteditable=\"true\" onclick=\"document.execCommand('selectAll')\"><center>{{row.isalarm}}</center></td>\n\n </tr>\n \n </tbody>\n</table>\n<script type=\"text/javascript\">\n window.onload = function() {\n document.getElementById(\"editable\").focus();\n };\n\n<script>\n(function($scope) {\n$scope.sendRow = function(obj) {\nvar tableCells = document.getElementById(\"table-4\").rows.item(obj).cells;\nvar cellsData = [];\nfor (var j = 0; j < tableCells.length; j++) {\n cellsData[j] = tableCells.item(j).innerText;\n cellsData[j] = cellsData[j].replace(\",\",\".\"); \n}\n$scope.send({ \"payload\": cellsData });\n};\n})(scope);\n</script>\n\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1270,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff03ed7d661858d",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "select * from alarm",
        "func": "\nmsg.topic = \"SELECT * FROM alarm ORDER BY id DESC;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1260,
        "wires": [
            [
                "b5e49121ed87b535"
            ]
        ]
    },
    {
        "id": "b5e49121ed87b535",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 930,
        "y": 1260,
        "wires": [
            [
                "b33e9704f6284aeb"
            ]
        ]
    },
    {
        "id": "dba4119a5ae27c75",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "f7358d121f692cc7",
        "name": "debugAlarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 280,
        "wires": []
    },
    {
        "id": "77ab3d82e168e1eb",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "f7358d121f692cc7",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1450,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c9ea25ad60821e9a",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "f7358d121f692cc7",
        "name": "INSERT into state",
        "func": "\nvar date = new Date().getTime();\nvar isalarm = msg.payload.alarm;\n\nreturn {\n    \"payload\": state,\n    \"topic\": `INSERT into alarm  (date , isalarm ) VALUES (${date}, ${isalarm} );`\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 240,
        "wires": [
            [
                "31700a18efcf04d1",
                "77ab3d82e168e1eb"
            ]
        ]
    },
    {
        "id": "595b2d343f19283a",
        "type": "e-mail",
        "z": "f9294724958d27a2",
        "g": "899b493b12ef8f3c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 2210,
        "y": 240,
        "wires": []
    },
    {
        "id": "13dc4db4d204017a",
        "type": "ui_button",
        "z": "f9294724958d27a2",
        "g": "899b493b12ef8f3c",
        "name": "",
        "group": "21940618bc9ff47f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "sendEmail",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-male",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1910,
        "y": 240,
        "wires": [
            [
                "2f51886ad7147166"
            ]
        ]
    },
    {
        "id": "42f0d88de020f203",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "899b493b12ef8f3c",
        "name": "debug email",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2210,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f51886ad7147166",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "899b493b12ef8f3c",
        "name": "function 4",
        "func": "\nmsg[\"to\"] = \"joao.ranger@gmail.com\";\nmsg[\"payload\"] = \"Notfying you that an alert has happened on Node-Red\";\nmsg[\"topic\"] = \"NODE-RED ALERT\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 240,
        "wires": [
            [
                "595b2d343f19283a",
                "42f0d88de020f203"
            ]
        ]
    },
    {
        "id": "de5323737b6ee789",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "function 15",
        "func": "\nvar arr = msg.payload\n//var newItems=[];\n\nfor (let index = 0; index < arr.length; index++) {\n    const element = arr[index];\n    arr[index].date = new Date(element.date).toUTCString();\n}\n\n//msg.payload = newItems;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1200,
        "wires": [
            [
                "8d037d74939aef3c",
                "be876825f047c744"
            ]
        ]
    },
    {
        "id": "be876825f047c744",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b33e9704f6284aeb",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "function 16",
        "func": "\nvar arr = msg.payload\n//var newItems=[];\n\nfor (let index = 0; index < arr.length; index++) {\n    const element = arr[index];\n    arr[index].date = new Date(element.date).toUTCString();\n}\n\n//msg.payload = newItems;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1260,
        "wires": [
            [
                "6e3b3f338ceb61b4"
            ]
        ]
    },
    {
        "id": "0d9aca903b63d575",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "function 17",
        "func": "\nvar arr = msg.payload\n//var newItems=[];\n\nfor (let index = 0; index < arr.length; index++) {\n    const element = arr[index];\n    arr[index].date = new Date(element.date).toUTCString();\n}\n\n//msg.payload = newItems;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "67ed7611bc4e11c3",
                "698c4f722e82873d"
            ]
        ]
    },
    {
        "id": "acdd71a48371ad93",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 680,
        "wires": []
    },
    {
        "id": "9475ae36b3cfd1ec",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "function 14",
        "func": "\nvar arr = msg.payload\nvar newItems=[];\n\nfor (let index = 0; index < arr.length; index++) {\n    const element = arr[index];\n   \n    newItems.push(\n        {\n        lat: arr[index][\"lat\"],\n        lon: arr[index][\"lon\"],\n        name: \"car\",\n        icon: \"fa-duotone fa-car-side\",\n        iconcolor: \"#000\",\n        color: \"#000\",\n        layer: \"markers\"\n    });\n}\n\nmsg.payload = newItems;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "c4cacbe936455ee0"
            ]
        ]
    },
    {
        "id": "541d96d648038fce",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "name": "select * gps for map",
        "func": "\nmsg.topic = \"SELECT * FROM( SELECT * FROM gps ORDER BY id DESC LIMIT 10) ORDER BY id ASC ;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "717aea70e7deb820"
            ]
        ]
    },
    {
        "id": "717aea70e7deb820",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "d85e1ed27d2019a8",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 970,
        "y": 1020,
        "wires": [
            [
                "9475ae36b3cfd1ec"
            ]
        ]
    },
    {
        "id": "ef865f349faec94b",
        "type": "link in",
        "z": "f9294724958d27a2",
        "g": "58581c304b70dfce",
        "name": "selectDbs_out",
        "links": [
            "99ac6d9cfa08d594",
            "f62fe2d764467aaf",
            "af8cc191fb814f2f"
        ],
        "x": 165,
        "y": 1060,
        "wires": [
            [
                "a586eba9b526be33"
            ]
        ]
    },
    {
        "id": "99ac6d9cfa08d594",
        "type": "link out",
        "z": "f9294724958d27a2",
        "g": "26f32862af1d3322",
        "name": "selectDbs_in",
        "mode": "link",
        "links": [
            "ef865f349faec94b"
        ],
        "x": 1535,
        "y": 580,
        "wires": []
    },
    {
        "id": "f62fe2d764467aaf",
        "type": "link out",
        "z": "f9294724958d27a2",
        "g": "673ed9df070f6f8b",
        "name": "selectDbs_in",
        "mode": "link",
        "links": [
            "ef865f349faec94b"
        ],
        "x": 1625,
        "y": 420,
        "wires": []
    },
    {
        "id": "af8cc191fb814f2f",
        "type": "link out",
        "z": "f9294724958d27a2",
        "g": "f7358d121f692cc7",
        "name": "selectDbs_in",
        "mode": "link",
        "links": [
            "ef865f349faec94b"
        ],
        "x": 1545,
        "y": 220,
        "wires": []
    },
    {
        "id": "efec1e7ec1208445",
        "type": "debug",
        "z": "f9294724958d27a2",
        "g": "673ed9df070f6f8b",
        "name": "changeState",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 460,
        "wires": []
    },
    {
        "id": "951ff97c5974b8c3",
        "type": "ui_text",
        "z": "f9294724958d27a2",
        "g": "673ed9df070f6f8b",
        "group": "bb53a816f475d0f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State of the app",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1520,
        "y": 400,
        "wires": []
    },
    {
        "id": "b207b068deae7900",
        "type": "sqlite",
        "z": "f9294724958d27a2",
        "g": "673ed9df070f6f8b",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c7521e9bcf0a784f",
        "type": "function",
        "z": "f9294724958d27a2",
        "g": "673ed9df070f6f8b",
        "name": "INSERT into state",
        "func": "\nvar date = new Date().getTime();\nvar state = msg.payload.changedState ? \"GPS\" : \"Gyro\";\n\nreturn {\n    \"payload\": state,\n    \"topic\": `INSERT into state  (date , state ) VALUES (${date}, \\\"${state}\\\" );`\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 420,
        "wires": [
            [
                "951ff97c5974b8c3",
                "b207b068deae7900",
                "f62fe2d764467aaf"
            ]
        ]
    },
    {
        "id": "c8e50233bb77ad49",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "Drop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "e61e786e2a23d023"
            ]
        ]
    },
    {
        "id": "c7675a3e3aada9f9",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ead469c2d5725752"
            ]
        ]
    },
    {
        "id": "5493965840a5e96c",
        "type": "sqlite",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "916ed962a466463b"
            ]
        ]
    },
    {
        "id": "e60a0f3d7f911533",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "select",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "5ca79092938ab726"
            ]
        ]
    },
    {
        "id": "a722ab9ab6ff5dcc",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "47a0f3986ec896d2"
            ]
        ]
    },
    {
        "id": "d604e89466f0822b",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "adcc5d28fdfdf376"
            ]
        ]
    },
    {
        "id": "afa10f32099e0e54",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "function 6",
        "func": "var downlink = {\n    \"downlinks\": [{\n    \"f_port\": 15,\n    \"frm_payload\": \"vu8=\",\n    \"priority\": \"HIGH\",\n    \"confirmed\": true,\n    \"correlation_ids\": [\"my - correlation - id\"]\n    }]\n}\n\n//var messageString = `{\\\"payload\\\":\\\"${msg.payload}\\\"}`;\nvar messageString = `{\"payload\":\"${msg.payload}\"}`;\nvar messageJson = {\"payload\":msg.payload};\n//var bytes = [];\n//bytes[0] = messageString >> 8;\n//bytes[1] = messageString;\nvar messageBuffer = Buffer.from(messageString, 'utf-8')\nmsg.payload = {\n    \"downlinks\": [{\n        \"f_port\": 1,\n        //\"frm_payload\": Buffer.from(bytes).toString('base64'),\n        \"frm_payload\": Buffer.from(messageBuffer).toString('base64'),\n        \"decoded_payload\": messageJson,\n        \"priority\": \"HIGH\",\n        \"confirmed\": true\n    }]\n}\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1060,
        "wires": [
            [
                "ac2c61949fe2b733",
                "ee9067c386c4bfb4"
            ]
        ]
    },
    {
        "id": "ac2c61949fe2b733",
        "type": "mqtt out",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "",
        "topic": "v3/lic-lab-2@ttn/devices/eui-a8610a34323b8708/down/replace",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1d039f1066253cac",
        "x": 610,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1ec74bc22b025340",
        "type": "ui_button",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "",
        "group": "93527ec6a0a2d80d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send downlink",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "send",
        "payload": "text",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1100,
        "y": 960,
        "wires": [
            [
                "67439d10f9905592"
            ]
        ]
    },
    {
        "id": "ee9067c386c4bfb4",
        "type": "debug",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "downlink_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e61e786e2a23d023",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "DROP TABLES",
        "func": "\nreturn {\n     \"payload\": msg.payload,\n     \"topic\":\"DROP TABLE gps; \"\n     };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "1259b65b09ececfb"
            ]
        ]
    },
    {
        "id": "47a0f3986ec896d2",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "CREATE TABLE gps",
        "func": "\nvar topic = \" CREATE TABLE gps (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, date INTEGER , satelites INTEGER , lat FLOAT , lon FLOAT , alt FLOAT);\"\n\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": topic,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "1259b65b09ececfb"
            ]
        ]
    },
    {
        "id": "ead469c2d5725752",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "INSERT into gps",
        "func": "\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": \"INSERT into gps  (date , time, satelites, lat , lon , alt ) VALUES (1231223144, 1231414234, 3, 38.7 ,-9 ,20 )\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "1259b65b09ececfb"
            ]
        ]
    },
    {
        "id": "adcc5d28fdfdf376",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "INSERT into gps",
        "func": "\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": \"INSERT into gps  (date , time, satelites, lat , lon , alt ) VALUES (1231223144, 1231414234, 3, 39.777 ,-9.78 , 20 )\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "1259b65b09ececfb"
            ]
        ]
    },
    {
        "id": "5ca79092938ab726",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "SELECT * FROM gps",
        "func": "\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": \" SELECT * FROM gps;\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "1259b65b09ececfb"
            ]
        ]
    },
    {
        "id": "916ed962a466463b",
        "type": "debug",
        "z": "72de9661af2c534c",
        "g": "6fbc52b23e464251",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "0c62d000232819d0",
        "type": "debug",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "b427f8a40bbd460b",
        "type": "sqlite",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "0c62d000232819d0"
            ]
        ]
    },
    {
        "id": "04077bc68722ca7a",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "b83743dbd6216bf4"
            ]
        ]
    },
    {
        "id": "b83743dbd6216bf4",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "INSERT into state",
        "func": "\nvar date = new Date().getTime();\nvar state = Math.random() > 0.5 ? \"GPS\" : \"GYRO\";\n\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": `INSERT into state  (date , time, state ) VALUES (${date}, ${date}, \\\"${state}\\\" );`\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 440,
        "wires": [
            [
                "9c65f0dc25547908"
            ]
        ]
    },
    {
        "id": "3e3d197a01dd9d06",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "CREATE TABLE state",
        "func": "\nvar topic = \" CREATE TABLE state (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, date INTEGER , state TEXT );\"\n\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": topic,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 400,
        "wires": [
            [
                "9c65f0dc25547908"
            ]
        ]
    },
    {
        "id": "44488a13e639ac00",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "3e3d197a01dd9d06"
            ]
        ]
    },
    {
        "id": "6e98a4b86b0d5135",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "DROP TABLE state",
        "func": "\nreturn {\n     \"payload\": msg.payload,\n     \"topic\":\" DROP TABLE state; \"\n     };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 360,
        "wires": [
            [
                "9c65f0dc25547908"
            ]
        ]
    },
    {
        "id": "772ec508b97fc538",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "Drop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "6e98a4b86b0d5135"
            ]
        ]
    },
    {
        "id": "d1dc758b1bd29772",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "SELECT * FROM state",
        "func": "\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": \" SELECT * FROM state;\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 480,
        "wires": [
            [
                "9c65f0dc25547908"
            ]
        ]
    },
    {
        "id": "a888a6c5fb823d3c",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "87d4ed4463a9d712",
        "name": "select",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "d1dc758b1bd29772"
            ]
        ]
    },
    {
        "id": "618e66a9ce354c1d",
        "type": "debug",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "65ded5876c9275f9",
        "type": "sqlite",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "mydb": "0225b7fecd64885b",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 550,
        "y": 640,
        "wires": [
            [
                "618e66a9ce354c1d"
            ]
        ]
    },
    {
        "id": "2b220aca94d606de",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "insert",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "ae0ee0dec6a29137"
            ]
        ]
    },
    {
        "id": "ae0ee0dec6a29137",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "INSERT into alarm",
        "func": "\nvar date = new Date().getTime();\nvar isalarm = Math.random() > 0.5;\n\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": `INSERT into alarm  (date , time, isalarm ) VALUES (${date}, ${date}, ${isalarm} );`\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 680,
        "wires": [
            [
                "020a733cb8b033a9"
            ]
        ]
    },
    {
        "id": "406df2a63ce53671",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "CREATE TABLE alarm",
        "func": "\nvar topic = \" CREATE TABLE alarm (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, date INTEGER , isalarm INTEGER );\"\n\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": topic,\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "020a733cb8b033a9"
            ]
        ]
    },
    {
        "id": "fab550111672ccd3",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "create",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "406df2a63ce53671"
            ]
        ]
    },
    {
        "id": "51e1dd0908716ec7",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "DROP TABLE alarm",
        "func": "\nreturn {\n     \"payload\": msg.payload,\n     \"topic\":\" DROP TABLE alarm; \"\n     };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "020a733cb8b033a9"
            ]
        ]
    },
    {
        "id": "81421991f4522206",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "Drop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "51e1dd0908716ec7"
            ]
        ]
    },
    {
        "id": "59b43ecc598e40d6",
        "type": "function",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "SELECT * FROM alarm",
        "func": "\nreturn {\n    \"payload\": msg.payload,\n    \"topic\": \" SELECT * FROM alarm;\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 720,
        "wires": [
            [
                "020a733cb8b033a9"
            ]
        ]
    },
    {
        "id": "2418737fe2d927fc",
        "type": "inject",
        "z": "72de9661af2c534c",
        "g": "55b011c81ead33d6",
        "name": "select",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "59b43ecc598e40d6"
            ]
        ]
    },
    {
        "id": "514523b807f94a6a",
        "type": "ui_text_input",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "",
        "label": "Text for downlink",
        "tooltip": "",
        "group": "93527ec6a0a2d80d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 960,
        "wires": [
            [
                "544f3bbb0ae4ce0b"
            ]
        ]
    },
    {
        "id": "544f3bbb0ae4ce0b",
        "type": "change",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "textInput",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "593888a23a3bb561"
            ]
        ]
    },
    {
        "id": "593888a23a3bb561",
        "type": "switch",
        "z": "72de9661af2c534c",
        "name": "is text empty?",
        "property": "textInput",
        "propertyType": "flow",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "a0f6c9ebf672a652"
            ],
            [
                "9bb43063c1a5db65"
            ]
        ]
    },
    {
        "id": "a0f6c9ebf672a652",
        "type": "change",
        "z": "72de9661af2c534c",
        "name": "enabled false",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 940,
        "wires": [
            [
                "1ec74bc22b025340"
            ]
        ]
    },
    {
        "id": "9bb43063c1a5db65",
        "type": "change",
        "z": "72de9661af2c534c",
        "name": "enabled true",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 980,
        "wires": [
            [
                "1ec74bc22b025340"
            ]
        ]
    },
    {
        "id": "67439d10f9905592",
        "type": "link out",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "send downlink",
        "mode": "link",
        "links": [
            "bb5349a0303645fc"
        ],
        "x": 1215,
        "y": 960,
        "wires": []
    },
    {
        "id": "bb5349a0303645fc",
        "type": "link in",
        "z": "72de9661af2c534c",
        "g": "c2c2b84629bba374",
        "name": "",
        "links": [
            "67439d10f9905592"
        ],
        "x": 165,
        "y": 1060,
        "wires": [
            [
                "afa10f32099e0e54"
            ]
        ]
    }
]